<!DOCTYPE html>
<html lang="en" ng-app="apiApp">
<head>
    <!--META-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--TITLE-->
    <title>Etsy Api Test</title>
    <link rel="stylesheet" href="lib/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body ng-controller="appCtrl">
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Store</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Catalog</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

<div class="container-fluid">

      <div class="row">

        <div class="col-sm-3 hidden-xs" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Available Items</a>
            <a href="#" class="list-group-item"></a>
          </div>
        </div><!--/.sidebar-->

        <div class="col-xs-12 col-sm-9">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputSearch" class="col-sm-1">Search</label>
              <div class="col-sm-2">
                <input type="text" id="inputSearch" class="form-control" placeholder="Search" ng-model="tags">
              </div>
            </div>

          </form>
          <div class="panel panel-default" data-ng-repeat="(idx, item) in items|filter: tags">
          	<div class="panel-heading">
        		<strong>{{item.title}}</strong>
          	</div>
          	<div class="panel-img">
          		<a ng-href="{{item.url}}"><img ng-src="{{item.Images[0].url_170x135}}"></a>
          	</div>
          	<div class="panel-body text-right">
          		<a ng-href="{{item.url}}">
          			{{item.price|currency}}
          			<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
          		</a>
          	</div>         
          </div>
        </div>
      </div>
      <hr>

</div><!--/.container-->
<footer class="navbar-inverse navbar navbar-fixed-bottom">

</footer>

<script src="lib/angular/angular.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>