body {
  padding-top: 70px;
}

.navbar-brand {
  width: 128px;
  text-align: right;
}

footer.navbar {
  margin-bottom: 0px;
}

.panel{
  display: inline-block;
  width: 175px;
  overflow: hidden;
  margin-right: 15px;
}

.panel-heading{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 767px) {


}
